In [1]:
# Carregar bibliotecas

import pandas as pd
import numpy  as np
from numpy import NaN

## Leitura de arquivo

In [2]:
# Diretorio dos datasets C:\Users\Samsung

df = pd.read_csv('C:/Users/Samsung/Datasets/Kaggle/raw_data.csv')

C:\Users\Samsung\AppData\Local\Temp\ipykernel_14068\1468676518.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/Samsung/Datasets/Kaggle/raw_data.csv')

In [3]:
df

,Unnamed: 0,departamento,municipio,codigo_dane,armas_medios,fecha_hecho,genero,grupo_etario,cantidad
0,0,ATLÁNTICO,BARRANQUILLA (CT),8001000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1
1,1,BOYACÁ,DUITAMA,15238000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1
2,2,CAQUETÁ,PUERTO RICO,18592000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,MASCULINO,ADULTOS,1
3,3,CASANARE,MANÍ,85139000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1
4,4,CUNDINAMARCA,BOGOTÁ D.C. (CT),11001000,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...,...
575716,575716,VALLE,CARTAGO,76147000,SIN EMPLEO DE ARMAS,28/02/2023,FEMENINO,ADULTOS,1
575717,575717,VALLE,GUACARÍ,76318000,SIN EMPLEO DE ARMAS,28/02/2023,FEMENINO,ADULTOS,1
575718,575718,VALLE,GUADALAJARA DE BUGA,76111000,SIN EMPLEO DE ARMAS,28/02/2023,FEMENINO,ADULTOS,1
575719,575719,VALLE,PALMIRA,76520000,SIN EMPLEO DE ARMAS,28/02/2023,FEMENINO,ADULTOS,2
575720,575720,VALLE,YUMBO,76892000,SIN EMPLEO DE ARMAS,28/02/2023,FEMENINO,ADULTOS,1

### Renomear colunas

In [4]:
# Renomenado algumas colunas

df = df.rename({'armas_medios': 'arma_usada',
               'fecha_hecho':'data_crime',
                'genero': 'gênero',
               'cantidad': 'quantidade'}, axis=1)

In [5]:
#Excluir coluna informando o nome e se é coluna = 1 ou linha = 0

df = df.drop('codigo_dane', axis=1)

In [6]:
#Informações do dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575721 entries, 0 to 575720
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    575721 non-null  int64
 1   departamento  575721 non-null  object
 2   municipio     575721 non-null  object
 3   arma_usada    575721 non-null  object
 4   data_crime    575721 non-null  object
 5   gênero        575721 non-null  object
 6   grupo_etario  574110 non-null  object
 7   quantidade    575721 non-null  int64
dtypes: int64(2), object(6)
memory usage: 35.1+ MB

In [7]:
#Dimensão do dataframe

df.shape

(575721, 8)

In [8]:
# Verificando valores nulos e quantidade

df.isnull().sum()

Unnamed: 0         0
departamento       0
municipio          0
arma_usada         0
data_crime         0
gênero             0
grupo_etario    1611
quantidade         0
dtype: int64

### Converter tipo de colunas

In [9]:
# Mudar o tipo de variável

df['gênero'] = df['gênero'].astype('category')
df['grupo_etario'] = df['grupo_etario'].astype('category')
df['arma_usada'] = df['arma_usada'].astype('category')
df['data_crime'] = pd.to_datetime(df['data_crime'], format = '%d/%m/%Y')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575721 entries, 0 to 575720
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    575721 non-null  int64
 1   departamento  575721 non-null  object
 2   municipio     575721 non-null  object
 3   arma_usada    575721 non-null  category
 4   data_crime    575721 non-null  datetime64[ns]
 5   gênero        575721 non-null  category
 6   grupo_etario  574110 non-null  category
 7   quantidade    575721 non-null  int64
dtypes: category(3), datetime64[ns](1), int64(2), object(2)
memory usage: 23.6+ MB

In [11]:
# Frequencia das categorias da coluna departamento

count = df['departamento'].value_counts()
count

CUNDINAMARCA          104692
ANTIOQUIA              70655
VALLE                  53718
SANTANDER              45307
BOYACÁ                 32125
ATLÁNTICO              21253
TOLIMA                 21103
HUILA                  19966
META                   19841
BOLÍVAR                19159
NARIÑO                 17661
NORTE DE SANTANDER     17602
CAUCA                  17442
RISARALDA              16861
CÓRDOBA                13128
MAGDALENA              11812
SUCRE                  11580
CALDAS                 11082
CESAR                   9800
CASANARE                7520
QUINDÍO                 6001
CAQUETÁ                 5711
GUAJIRA                 5098
ARAUCA                  4314
PUTUMAYO                3882
CHOCÓ                   2570
AMAZONAS                1500
SAN ANDRÉS              1456
GUAVIARE                1214
GUAINÍA                  633
VAUPÉS                   523
VICHADA                  506
NO REPORTA                 6
Name: departamento, dtype: int64

### Substituir valores da coluna

In [12]:
# Substitui a categoria 'NO REPORTA' por NaN valor nulo

df['departamento'].replace('NO REPORTA', NaN, inplace=True)

In [13]:
# As linhas que contém valores nulos na coluna departamento são removidas,
# Resulta um DataFrame que contém apenas as linhas que não contêm valores nulos na coluna departamento.

df = df[~df['departamento'].isnull()]

In [14]:
# Localiza no DataFrame a coluna municipio e filtra o valor 'BOGOTA' e na coluna departameto substitui o valor 'SANTAFE'

df.loc[df['municipio']== 'BOGOTÁ D.C. (CT)', 'departamento'] = 'SANTAFE DE BOGOTA D.C'

In [15]:
#Substitui valores de um dataframe:

df['gênero'] = df['gênero'].replace({'NO REPORTADO':'NO REPORTA', '-':'NO REPORTA'})
df['grupo_etario'] = df['grupo_etario'].replace('NO REPORTADO', 'NO REPORTA')
df['arma_usada'] = df['arma_usada'].replace({'CONTUNDENTES':'ARMA BLANCA', 
                                            'ARMA BLANCA / CORTOPUNZANTE':'ARMA BLANCA', 
                                            'CORTOPUNZANTES':'ARMA BLANCA',
                                            'CORTANTES':'ARMA BLANCA', 
                                            'PUNZANTES':'ARMA BLANCA',
                                            'NO REPORTADO':'NO REPORTA', 
                                            '-':'NO REPORTA'})

In [16]:
#Imprime os valores únicos das colunas 
print(df['gênero'].unique(), 
      df['grupo_etario'].unique(), 
      df['arma_usada'].unique())

['MASCULINO', 'FEMENINO', 'NO REPORTA']
Categories (3, object): ['FEMENINO', 'MASCULINO', 'NO REPORTA'] ['ADULTOS', 'ADOLESCENTES', 'MENORES', 'NO REPORTA', NaN]
Categories (4, object): ['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTA'] ['ARMA BLANCA', 'ARMA DE FUEGO', 'NO REPORTA', 'SIN EMPLEO DE ARMAS', 'ESCOPOLAMINA']
Categories (5, object): ['ARMA DE FUEGO', 'ARMA BLANCA', 'ESCOPOLAMINA', 'NO REPORTA', 'SIN EMPLEO DE ARMAS']

In [17]:
# verificar outiler na coluna quantidade, absurdo quatidade>20, quantos casos tem outiler
#Cria um novo dataframe com apenas a coluna quantidade, onde os valores são maiores que 20

df[['quantidade']].query('quantidade > 20').count()

quantidade    3442
dtype: int64

In [18]:
# Cria um novo dataframe com as linhas com os valores da coluna quantidade < 20, exclui os index com esses valore
# e redefine os novos index do dataframe

df = df.query('quantidade < 20').reset_index(drop=True)

In [23]:
df

,Unnamed: 0,departamento,municipio,arma_usada,data_crime,gênero,grupo_etario,quantidade
0,0,ATLÁNTICO,BARRANQUILLA (CT),ARMA BLANCA,2010-01-01,MASCULINO,ADULTOS,1
1,1,BOYACÁ,DUITAMA,ARMA BLANCA,2010-01-01,FEMENINO,ADULTOS,1
2,2,CAQUETÁ,PUERTO RICO,ARMA BLANCA,2010-01-01,MASCULINO,ADULTOS,1
3,3,CASANARE,MANÍ,ARMA BLANCA,2010-01-01,FEMENINO,ADULTOS,1
4,4,SANTAFE DE BOGOTA D.C,BOGOTÁ D.C. (CT),ARMA BLANCA,2010-01-01,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
572068,575716,VALLE,CARTAGO,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1
572069,575717,VALLE,GUACARÍ,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1
572070,575718,VALLE,GUADALAJARA DE BUGA,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1
572071,575719,VALLE,PALMIRA,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,2
572072,575720,VALLE,YUMBO,SIN EMPLEO DE ARMAS,2023-02-28,FEMENINO,ADULTOS,1

In [19]:
# Salvar o dataframe após a limpeza dos dados
df.to_csv('C:/Users/Samsung/Datasets/date_cleaned.csv')